html {
    scroll-behavior: smooth;
}

body {
    height: 250vh;
}
/*
section {
    border-bottom: 1px rgba(255, 0, 0,0) solid;
}
*/
.HomeBackground {
    background: linear-gradient(rgb(139, 229, 243),#FFFED3);
    background-size: 100vw 612px;
    background-repeat: no-repeat;
    transition: background-size 0.4s;
    z-index: 2;
}

.Judul {
    height: 78px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Judul h1 {
    margin: 0;
    font-family: sans-serif;
    display: inline-block;
    font-size: 3em;
}

.Judul div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Judul div img {
    height: 78px;
}

#logo8 {
    height: 60px;
    padding: 0px 30px;
}

.Navigasi {
    width: 100%;
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    top: auto;
    z-index: 1;
    transition: border-top, border-bottom, background-color, 0.4s !important;
}

.Navigasi a {
    font-size: 1.6em;
    text-decoration: none;
    color: black;
    transition: border-bottom, color 0.4s;
    height: 35px;
    border-bottom: 2px solid rgba(0,0,0,0);
}

.Navigasi a:nth-of-type(1) {
    border-bottom: 2px solid black;
    opacity: 0.7;
}

.Navigasi a:hover {
    color: rgba(255, 0, 234, 0.849) !important;
    cursor: pointer;
}

.Navigasi button {
    transition: all 0.4s;
}

.Deskripsi {
    height: 464px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Deskripsi h1 {
    text-align: center;
    font-size: 2.7em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#fadeIn {
    animation: fadeIn 1s ease-in;
}

.Klinik {
    display: flex;
    flex-direction: row;
    height: 700px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background: #FFFED3;
}

.Klinik div img {
    width: 45vw;
    border-radius: 15px;
    box-shadow: 0 4px 8px;
}

.DeskripsiKlinik {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 60px;
    width: 50vw;
}

.DeskripsiKlinik p {
    font-size: 1.7em;
    margin-top: 20px;
    font-weight: bold;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.AnimasiKlinik {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: opacity 0.8s, filter 0.8s, transform 0.8s !important;
}

#AnimasiKlinik1 {
    transition-delay: 150ms !important;
}

#AnimasiKlinik2 {
    transition-delay: 200ms !important;
}

#AnimasiKlinik3 {
    transition-delay: 300ms !important;
}

.Belanja {
    display: flex;
    flex-direction: row;
    min-height: 750px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    background: linear-gradient(#FFFED3,aquamarine 15%);
}

.Belanja img {
    margin-bottom: 40px;
    width: 45vw;
    border-radius: 15px;
    box-shadow: 0 4px 8px;
}

.Belanja div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 60px;
    width: 50vw;
}

.Belanja div p {
    font-size: 1.7em;
    font-weight: bold;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 16px;
}

.AnimasiBelanja {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: opacity 0.6s, filter 0.6s, transform 0.6s !important;
}

#AnimasiBelanja1 {
    transition-delay: 100ms !important;
}

#AnimasiBelanja2 {
    transition-delay: 200ms !important;
}

#AnimasiBelanja3 {
    transition-delay: 350ms !important;
}

.Event {
    min-height: 650px;
    background: linear-gradient(aquamarine, #BBE9FF 45%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EventList {
    width: 55vw;
    height: 75vh;
}

.EventImage {
    width: 55vw;
    height: 75vh;
    border-radius: 20px;
}

.carousel-indicators li {
    list-style: none; /* Menghapus marker default */
    opacity: 0;
}

.DeskripsiEvent {
    background-color: aquamarine;
    border-radius: 15px;
}

.DeskripsiEvent h5,.DeskripsiEvent p {
    color: black;
}

.AnimasiEvent {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: opacity 0.6s, filter 0.6s, transform 0.6s !important;
}

.Tentang {
    min-height: 750px;
    background: linear-gradient(#BBE9FF,#B1AFFF);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.DivTentang {

    display: flex;
    align-items: center; /* Untuk memusatkan elemen secara vertikal */
    justify-content: center; /* Untuk memusatkan elemen secara horizontal */
    flex-direction: row;
    margin-top: 30px;
}

.DivDivTentang {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.Tentang div div p {
    padding: 0px 60px;
    text-align: justify;
    font-size: 1.5em;
}

.Tentang div img {
    height: 55vh;
    width: 45vw;
    margin-right: 60px;
}

.TimGembong {
    height: 70vh;
    width: 55vw;
    border-radius: 15px;
    box-shadow: 0 4px 8px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.AnimasiTentang {
    opacity: 0;
    transition: opacity 0.6s;
}

.JudulTimPeneliti {
    margin-bottom: 100px;
}

.Footer {
    background-color:#f8f9fa;
    padding: 20px 0;
    box-shadow: 0 0px 20px
}

.FooterRow {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
}

.FooterRow div {

    margin: 10px;
}

.FooterRow h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.FooterRow p {
    margin: 5px 0;
}

.FooterRow i {
    margin-right: 8px;
}

.FooterRow a {
    color: black;
    text-decoration: none;
}

.FooterRow a:hover {
    opacity: 0.6;
}